<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AD_CMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AD_CMS.Properties.Settings.MasterDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\MasterDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <AD_CMS.Properties.Settings>
            <setting name="CollegeName" serializeAs="String">
                <value>AD_CMS Softwares</value>
            </setting>
            <setting name="CollegeIcon" serializeAs="String">
                <value>..\..\Resources\small_logo.png</value>
            </setting>
            <setting name="CollegeTagLine" serializeAs="String">
                <value>Do The Best,Get The Best</value>
            </setting>
            <setting name="DeleteIconPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormBack" serializeAs="String">
                <value>SeaShell</value>
            </setting>
            <setting name="TemplateBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="d_MainFormBack" serializeAs="String">
                <value>SeaShell</value>
            </setting>
            <setting name="d_TemplateBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="d_TemplateHeader" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="TemplateHeaderBack" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="AttendancePath" serializeAs="String">
                <value>..\..\Attendance\</value>
            </setting>
            <setting name="TotalClasses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLabs" serializeAs="String">
                <value>0</value>
            </setting>
        </AD_CMS.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
